/*variables*/
:root {
  --gtt-color-blue: #2B85A1;
  --gtt-color-orange: #F6A568;
  --gtt-color-orange-alt: #EDAE6F;
}

/*fuentes marca*/
@font-face {
  font-family: KompotSans;
  src: url(fonts/KompotSans.woff);
}
@font-face {
  font-family: Manjari-Thin;
  src: url(fonts/Manjari-Thin.woff);
}
@font-face {
  font-family: Manjari-Regular;
  src: url(fonts/Manjari-Regular.woff);
}
@font-face {
  font-family: Manjari-Bold;
  src: url(fonts/Manjari-Bold.woff);
}
@font-face {
  font-family: Inter-Regular;
  src: url(fonts/Inter-Regular.woff);
}

/*estilos finales*/
body {
  display: block;
  overflow-x: hidden;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}

.vertical-align {
  top: 50%!important;
  left: 0px;
  position: relative;
}

.text-left {
  text-align: left;
}

/*header y navbar*/
.gtt-header {
  height: 680px;
  max-height: 680px;

  background-image: url('header-background.jpg');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.gtt-navbar {
  display: flex;
  padding: 0px;

  background-color: rgba(255, 255, 255, 0.5);
}

.gtt-navbar .gtt-logo {
  width: 60px;
  height: 60px;
}

.gtt-navbar .gtt-links {
  width: 100%;
  text-align: right;
}

.gtt-navbar a {
  margin-left: 50px;
  margin-right: 50px;

  font-family: 'Manjari-Regular';
  font-size: 20px;
  text-decoration: none;
  
  color: black;
}

.gtt-header .container {
  max-width: 100%;
}

.gtt-header-description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 80px);
  width: 100%;
  top: 0;

  font-size: 44px;
  font-family: 'Manjari-Regular';
  color: white;
}

/*buttons*/
.gtt-button {
  height: 40px;
  width: fit-content;
  display: inline-block;
  padding: 8px 30px;

  line-height: 24px;
  font-family: 'Manjari-Regular';
  font-size: 24px;
  text-decoration: none;

  border-radius: 5px;
  color: white;
  background-color: var(--gtt-color-blue);
}

.gtt-button-alt {
  height: 30px;
  width: fit-content;
  display: inline-block;
  padding: 6px 20px;

  line-height: 20px;
  font-family: 'Manjari-Regular';
  font-size: 20px;
  color: white;
  text-decoration: none;

  border-radius: 5px;
  border: 1px solid white;
}

.gtt-button .gtt-icon {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.gtt-button-circle-icon-black {
  height: 36px;
  width: 36px;
  margin: 0px 20px;
  
  background-color: black;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center center;

  border-radius: 50%;
}

.gtt-button-circle-icon-black.whatsapp {
  background-image: url('icons/whatsapp-white.svg');
}
.gtt-button-circle-icon-black.facebook {
  background-image: url('icons/facebook-white.svg');
}
.gtt-button-circle-icon-black.linkedin {
  background-image: url('icons/linkedin-white.svg');
}
.gtt-button-circle-icon-black.instagram {
  background-image: url('icons/instagram-white.svg');
}
.gtt-button-circle-icon-black.twitter {
  background-image: url('icons/twitter-white.svg');
}

/*sitios visitar*/
.gtt-place-container {
  margin-top: -28px;
  width: 100%;
  min-height: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gtt-place-card {
  height: 244px;
  width: 163px;
  margin: 12px;
  position: relative;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  box-shadow: 3px 3px 14px;
}

.gtt-place-title {
  margin-top: 10px;
  margin-bottom: 20px;

  line-height: 26px;
  font-size: 24px;
  font-family: 'Manjari-Regular';

  color: var(--gtt-color-blue);
}

.gtt-place-name {
  margin: 0px 0px 18px 10px;
  position: absolute;
  bottom: 0;

  font-size: 18px;
  font-family: 'Manjari-Bold';
  color: white;
  text-align: left;
}

.gtt-place-ciudad-cordoba {
  background-image: url('places/place-ciudad-cordoba.jpg');
}
.gtt-place-villa-carlos-paz {
  background-image: url('places/place-villa-carlos-paz.jpg');
}
.gtt-place-la-cumbrecita {
  background-image: url('places/place-la-cumbrecita.jpg');
}
.gtt-place-villa-general-belgrano {
  background-image: url('places/place-villa-general-belgrano.jpg');
}
.gtt-place-laguna-mar-chiquita {
  background-image: url('places/place-laguna-mar-chiquita.jpg');
}

/*general*/
.gtt-section-container {
  margin: 30px 10px;
}

.gtt-section-title {
  margin-bottom: 30px;

  line-height: 53px;
  font-size: 45px;
  font-family: 'Manjari-Bold';
  color: var(--gtt-color-orange);
  text-align: left;
  text-transform: uppercase;
}

.gtt-section-title::after {
  content: '';
  display: block;
  width: 82px;
  border-bottom: 4px solid var(--gtt-color-blue);
  border-radius: 4px;
}

/*contact*/
.gtt-contact-option {
  height: 36px;
  margin: 34px 24px;
  display: flex;

  line-height: 38px;
  font-size: 18px;
  font-family: 'Inter-Regular';
  color: black;
  text-decoration: none;
}

.gtt-map {
  width: 100%;
}

.gtt-form {
  background-color: var(--gtt-color-blue);

  color: var(--gtt-color-orange-alt);
}

.gtt-form-title {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;

  line-height: 39px;
  font-size: 33px;
  font-family: 'Manjari-Bold';
  text-transform: uppercase;
  text-align: center;
}

.gtt-form-title::after {
  content: '';
  display: block;
  width: 66px;
  margin-left: calc(50% - 33px);
  border-bottom: 4px solid white;
  border-radius: 4px;
}

.gtt-for-row {
  margin: 0px 78px 20px 78px;
}

.gtt-form-label {
  width: 100%;
  margin-bottom: 10px;

  line-height: 21px;
  font-size: 18px;
  font-family: 'Manjari-Bold';
  text-transform: uppercase;
  text-align: left;
}

.gtt-form-input {
  border-radius: 0;
  
  font-size: 18px;
  font-family: 'Manjari-Regular';
  color: black;
}

input.gtt-form-input {
  height: 50px;
}

textarea.gtt-form-input {
  white-space: pre-line;
}

.gtt-button-submit {
  padding: 14px 36px;
  margin-bottom: 36px;

  line-height: 20px;
  font-size: 20px;
  font-family: 'Manjari-Regular';
  color: white;

  background-color: var(--gtt-color-orange-alt);

  border: none;
}
.gtt-button-submit:hover {
  background-color: var(--gtt-color-orange-alt);

  color: black;

  border: none;
}


/*footer*/
footer {
  background-color: var(--gtt-color-blue);

  color: white;
}

/*Loader*/
.gtt-loader-full-size {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.gtt-loader-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -25px;
  width: 50px;
  height: 40px;
  text-align: center;
}

/*clientes*/
.gtt-customer-card {
  width: 382px;
  max-width: 382px;
  height: 350px;
  max-height: 350px;

  /*margin: 14px 0px 14px 34px;*/
  margin: 14px 17px;

  box-shadow: 3px 3px 10px;
}

.gtt-customer-header {
  width: 100%;
  height: 102px;

  background-image: url('icons/quotes-blue.svg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 58px 46px;
}

.gtt-customer-description {
  width: 100%;
  height: 108px;
  padding: 0px 20px;

  line-height: 21px;
  font-family: 'Inter-Regular';
  font-size: 15px;
}

.gtt-customer-footer {
  width: 100%;
  height: 140px;

  justify-content: center;
  display: flex;
}

.gtt-customer-photo {
  width: 94px;
  height: 94px;
  margin: auto;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  border-radius: 50%;
}

.gtt-custom-carousel-item {
  display: flex;
  justify-content: center;
  margin: 0 1px;
}