/*variables*/
:root {
  --gtt-color-blue: #2B85A1;
  --gtt-color-orange: #F6A568;
  --gtt-color-orange-alt: #EDAE6F;
}

/*fuentes marca*/
@font-face {
  font-family: KompotSans;
  src: url(fonts/KompotSans.woff);
}
@font-face {
  font-family: Manjari-Thin;
  src: url(fonts/Manjari-Thin.woff);
}
@font-face {
  font-family: Manjari-Regular;
  src: url(fonts/Manjari-Regular.woff);
}
@font-face {
  font-family: Manjari-Bold;
  src: url(fonts/Manjari-Bold.woff);
}
@font-face {
  font-family: Inter-Regular;
  src: url(fonts/Inter-Regular.woff);
}

/*estilos finales*/
body {
  display: block;
  overflow-x: hidden;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}

.vertical-align {
  top: 50%!important;
  left: 0px;
  position: relative;
}

.text-left {
  text-align: left;
}

/*header y navbar*/
.gtt-header {
  height: 780px;
  max-height: 780px;

  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;
}

.gtt-navbar {
  display: flex;
  padding: 0px;
  height: 160px;

  background-image: linear-gradient(#0E0E0E, transparent);
}

.gtt-navbar .gtt-logo {
  width: 60px;
  height: 60px;
}

.gtt-navbar .gtt-links {
  width: 100%;
  text-align: right;
}

.gtt-navbar a {
  margin-left: 10px;
  margin-right: 10px;

  font-family: 'Manjari-Regular';
  font-size: 22px;
  text-decoration: none;
  
  color: white;
  line-height: 50px;
}

.gtt-navbar a:hover, .gtt-navbar a.active {
  color: white !important;
}

.gtt-header-logo-container {
  display: flex;
  justify-content: center;
}

.gtt-header .container {
  max-width: 100%;
  position: absolute;
  top: 0px;
}

.gtt-header-description {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100% - 80px);
  width: 100%;
  top: 0;

  font-size: 44px;
  font-family: 'Manjari-Regular';
  color: white;
}

.gtt-nav-contact {
  height: 50px;
  width: 125px;
  float: right;

  background-color: var(--gtt-color-blue);

  line-height: 50px;
  color: white;
  text-align: center;

  border-radius: 8px;
}

.gtt-nav-whatsapp {
  height: 122px;
  width: 122px;
  display: block;
  top: 288px;
  right: 20px;
  position: absolute;

  background-color: #0dc043;

  color: white;
  text-align: center;

  border-radius: 50%;
}

.gtt-nav-whatsapp img {
  height: 70px;
  margin-top: 26px;
  aspect-ratio: 1;
}

.gtt-header-img {
  margin-top: -60px;
}

.gtt-header-white-shadow {
  height: 40px;
  margin-top: -40px;
  background-image: linear-gradient(transparent, white);
}

.gtt-languages {
  margin-left: 15%;
}

.gtt-languages a {
  display: flex;
  padding: 2px 5px;
  width: 90%;
}

.gtt-languages a:hover, .gtt-languages a.active {
  color: white;
  background-color: transparent;
}

.gtt-languages .dropdown-toggle::after {
  margin-top: 30%;
  
  color: white !important;
}

.gtt-languages-button {
  height: 50px;
  width: 50px;
  margin: 0px 2px;
  
  background-color: rgba(0,0,0, 0.3);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center center;

  border-radius: 50%;
}

.gtt-languages .dropdown-menu {
  background-color: rgba(0,0,0, 0.7);
  border-radius: 5px;
}

@media (max-width: 660px) {
  .gtt-nav-whatsapp {
    height: 61px;
    width: 61px;
    top: 0px;
    margin-top: 41%;
  }
}
@media (min-width: 661px) and (max-width: 768px) {
  .gtt-nav-whatsapp {
    height: 61px;
    width: 61px;
    top: 0px;
    margin-top: 36%;
  }
}
@media (max-width: 768px){
  .gtt-nav-whatsapp img {
    height: 35px;
    margin-top: 13px;
  }

  .gtt-header-img {
    width: 50%;
    margin-top: -30px;
    aspect-ratio: 1;
  }

  .gtt-links .navbar-nav {
    position: absolute;
    background-color: rgba(0,0,0, 0.7);
    width: 100%;
    z-index: 20;
    left: 0;

    border-radius: 5px
  }
}

@media (max-width: 991px){
  .gtt-languages {
    margin-left: 0%;
  }
}
@media (min-width: 992px) and (max-width: 1008px){
  .gtt-languages {
    margin-left: 8%;
  }
}
@media (min-width: 1260px){
  .gtt-languages {
    margin-left: 19%;
  }
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
} 
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*buttons*/
.gtt-button {
  height: 40px;
  width: fit-content;
  display: inline-block;
  padding: 8px 30px;

  line-height: 24px;
  font-family: 'Manjari-Regular';
  font-size: 24px;
  text-decoration: none;

  border-radius: 5px;
  color: white;
  background-color: var(--gtt-color-blue);
}

.gtt-button-alt {
  height: 30px;
  width: fit-content;
  display: inline-block;
  padding: 6px 20px;

  line-height: 20px;
  font-family: 'Manjari-Regular';
  font-size: 20px;
  color: white;
  text-decoration: none;

  border-radius: 5px;
  border: 1px solid white;
}

.gtt-button .gtt-icon {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.gtt-button-circle-icon-black {
  height: 36px;
  width: 36px;
  margin: 0px 20px;
  
  background-color: black;
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center center;

  border-radius: 50%;
}


/*sitios visitar*/
.gtt-place-container {
  margin-top: -160px;
  width: 100%;
  min-height: 260px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gtt-place-card {
  height: 244px;
  width: 163px;
  margin: 12px;
  position: relative;
  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  box-shadow: 3px 3px 14px;
  border-radius: 26px;
}

.gtt-place-title {
  margin-top: 10px;
  margin-bottom: 20px;

  line-height: 26px;
  font-size: 24px;
  font-family: 'Manjari-Regular';

  color: var(--gtt-color-blue);
}

.gtt-place-name {
  margin: 0px 0px 18px 10px;
  position: absolute;
  bottom: 0;

  font-size: 18px;
  font-family: 'Manjari-Bold';
  color: white;
  text-align: left;
}

.gtt-place-down {
  width: 100%;
  height: 100px;
  margin: 20px 0px;
}

.gtt-place-down img {
  margin: 0 auto;
  height: 100px;
  aspect-ratio: 1;
}

/*general*/
.gtt-section-container {
  margin: 30px 10px;
}

.gtt-section-title {
  margin-bottom: 30px;

  line-height: 75px;
  font-size: 64px;
  font-family: 'Manjari-Bold';
  color: var(--gtt-color-blue);
  text-align: center;
  text-transform: uppercase;
}

.gtt-section-title::after {
  content: '';
  display: block;
  width: 360px;
  border-bottom: 4px solid var(--gtt-color-orange);
  border-radius: 4px;
  margin: 20px auto;
}

@media (max-width: 768px) {
  .gtt-section-title {
    margin-bottom: 15px;
  
    line-height: 38px;
    font-size: 32px;
  }
  
  .gtt-section-title::after {
    width: 180px;
    margin: 10px auto;
  }
}

@media (min-width: 769px) and (max-width: 1050px) {
  .gtt-section-title {
    margin-bottom: 22px;
  
    line-height: 57px;
    font-size: 48px;
  }
  
  .gtt-section-title::after {
    width: 270px;
    margin: 15px auto;
  }
}

/*contact*/
.gtt-contact-option {
  height: 36px;
  margin: 34px 24px;
  display: flex;

  line-height: 38px;
  font-size: 18px;
  font-family: 'Inter-Regular';
  color: black;
  text-decoration: none;
}

.gtt-map {
  width: 100%;
}

.gtt-form {
  background-color: var(--gtt-color-blue);

  color: var(--gtt-color-orange-alt);
}

.gtt-form-title {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;

  line-height: 39px;
  font-size: 33px;
  font-family: 'Manjari-Bold';
  text-transform: uppercase;
  text-align: center;
}

.gtt-form-title::after {
  content: '';
  display: block;
  width: 66px;
  margin-left: calc(50% - 33px);
  border-bottom: 4px solid white;
  border-radius: 4px;
}

.gtt-for-row {
  margin: 0px 78px 20px 78px;
}

.gtt-form-label {
  width: 100%;
  margin-bottom: 10px;

  line-height: 21px;
  font-size: 18px;
  font-family: 'Manjari-Bold';
  text-transform: uppercase;
  text-align: left;
}

.gtt-form-input {
  border-radius: 0;
  
  font-size: 18px;
  font-family: 'Manjari-Regular';
  color: black;
}

input.gtt-form-input {
  height: 50px;
}

textarea.gtt-form-input {
  white-space: pre-line;
}

.gtt-button-submit {
  padding: 14px 36px;
  margin-bottom: 36px;

  line-height: 20px;
  font-size: 20px;
  font-family: 'Manjari-Regular';
  color: white;

  background-color: var(--gtt-color-orange-alt);

  border: none;
}
.gtt-button-submit:hover {
  background-color: var(--gtt-color-orange-alt);

  color: black;

  border: none;
}


/*footer*/
footer {
  background-color: var(--gtt-color-blue);

  color: white;
}

/*Loader*/
.gtt-loader-full-size {
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.gtt-loader-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -25px;
  width: 50px;
  height: 40px;
  text-align: center;
}

/*clientes*/
.gtt-customer-card {
  width: 80%;
  max-width: 80%;
  height: 650px;
  max-height: 650px;
  margin: 14px 17px;

  background-color: var(--gtt-color-blue);

  box-shadow: 3px 3px 10px;
  border-radius: 20px;
}

.gtt-customer-card-big-size {
  width: 80%;
  max-width: 80%;
  height: fit-content;
  margin: 14px 17px;

  background-color: var(--gtt-color-blue);

  box-shadow: 3px 3px 10px;
  border-radius: 20px;
}

.gtt-customer-quote {
  width: 100%;
  height: 35px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: 46px 36px;
}

.gtt-customer-description {
  width: 90%;
  height: 270px;
  max-height: 270px;
  padding: 0px 20px;
  margin-left: 5%;

  line-height: 54px;
  font-family: 'Inter-Regular';
  font-size: 40px;
  color: white;
}

.gtt-customer-description-big-size {
  width: 90%;  
  min-height: 270px;
  padding: 0px 20px;
  margin-left: 5%;

  line-height: 42px;
  font-family: 'Inter-Regular';
  font-size: 30px;
  color: white;
}

.gtt-customer-name {
  width: 90%; 
  padding: 0px 20px;
  margin-left: 5%;
  margin-top: 20px;
  margin-bottom: 30px;

  line-height: 46px;
  font-family: 'Inter-Regular';
  font-size: 34px;
  color: white;
  font-weight: 600;
}

.gtt-customer-footer {
  width: 100%;
  height: 140px;

  justify-content: center;
  display: flex;
}

.gtt-customer-photo {
  width: 194px;
  height: 194px;
  margin: 46px auto;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  border-radius: 50%;
}

.gtt-custom-carousel-item {
  display: flex;
  justify-content: center;
  margin: 0 1px;
}

@media (max-width: 768px){
  .gtt-customer-card {
    width: 90%;
    max-width: 90%;
    height: 580px;
    max-height: 580px;
    margin: 7px 9px;
  
    background-color: var(--gtt-color-blue);
  
    box-shadow: 3px 3px 10px;
    border-radius: 20px;
  }

  .gtt-customer-description {
    width: 90%;
    height: 200px;
    max-height: 200px;
    padding: 0px 10px;
    margin-left: 5%;
  
    line-height: 27px;
    font-size: 20px;
  }
}

@media (min-width: 769px) and (max-width: 1050px) {
  .gtt-customer-card {
    width: 90%;
    max-width: 90%;
    height: 615px;
    max-height: 615px;
    margin: 10px 14px;
  
    background-color: var(--gtt-color-blue);
  
    box-shadow: 3px 3px 10px;
    border-radius: 20px;
  }

  .gtt-customer-description {
    width: 90%;
    height: 235px;
    max-height: 235px;
    padding: 0px 15px;
    margin-left: 5%;
  
    line-height: 41px;
    font-size: 30px;
  }
}

/*interesting data*/
.gtt-interesting-data-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gtt-interesting-data-card {
  width: fit-content;
  margin: 20px;
}

.gtt-interesting-data-number {
  width: 80px;
  height: 80px;
  margin: 24px auto 12px auto;

  font-family: 'Inter-Regular';
  font-size: 30px;
  line-height: 80px;
  color: black;
  text-align: center;

  background-color: var(--gtt-color-orange);

  border-radius: 40px;
}

.gtt-interesting-data-number-big {
  width: 120px;
  height: 120px;
  margin: 24px auto 12px auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  font-family: 'Inter-Regular';
  font-size: 30px;
  color: black;
  text-align: center;
  font-weight: 600;

  background-color: var(--gtt-color-orange);

  border-radius: 50%;
}

.gtt-interesting-data-description {
  width: 132px;
  height: 22px;
  margin: 12px 12px 24px 12px;

  font-family: 'Inter-Regular';
  font-size: 18px;
  line-height: 20px;
  color: black;
  text-align: center;

  background-color: var(--gtt-color-orange);
}

.gtt-interesting-data-description-big {
  width: 182px;
  height: 44px;
  margin: 12px 12px 24px 12px;
  padding: 2px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

  font-family: 'Inter-Regular';
  font-size: 18px;
  line-height: 20px;
  color: black;
  text-align: center;

  background-color: var(--gtt-color-orange);
}

/*fix carousel*/
.react-multiple-carousel__arrow--left:before {
  content: "<" !important;
}

.react-multiple-carousel__arrow--right:before {
  content: ">" !important;
}